<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <authentication mode="Forms"/>
  </system.web>
  <location path="addevent.aspx">
    <system.web>
      <authorization>
        <!--deny anonymous users-->
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="configEvent.aspx">
    <system.web>
      <authorization>
        <!--deny anonymous users-->
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <!--
     <connectionStrings>
          <add name="con" connectionString="Server=den1.mssql7.gear.host;Initial Catalog=cis5800db;User ID=cis5800db;Password=Jq25_RsP_KUD;Integrated Security=false"/>
     </connectionStrings>
     -->
  <location path="adminManagement.aspx">
    <system.web>
      <authorization>
        <allow users="SLADMIN"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
<!--ProjectGuid: 3B7F4110-EFF3-4650-A9ED-135C40027820-->